In [34]:
import pandas as pd
import numpy as np
import itertools as it

In [12]:
x = np.random.randint(0,20,(2,1))
x

In [50]:
lr = [1e-4]
sst = [True,False]
basin = ['Columbia','Yukon']
tts = [70,80,90,95]
nn = ['ann2','ann3','ann1000','dcrrnn']
lag = [0,1,3,6,12,24]
shuffled = [True,False]
zscore = ['xonly','yonly','both','neither']
epochs = 100

In [51]:
configs = []
for x in it.product(lr,sst,basin,tts,nn,lag,shuffled,zscore):
    configs.append(x)
configs = np.asarray(configs)
configs.shape

(3072, 8)

In [52]:
configs.shape[0] * 2 / 60/ 24
#9216 configs
#2 minutes per config
#60 minutes in an hr
#24 hrs in a day
### gives number of days to run

4.266666666666667

In [37]:
configs[0]

array(['0.001', 'True', 'Columbia', '50', 'ann2', '0', 'True', 'xonly'],
      dtype='<U32')

In [ ]:
nse = 
inside2sig = 
traintime =

NameError: name 'lr' is not defined

In [16]:
y = pd.DataFrame(data=x,columns=['hey'])
y

   hey
0    5
1    9

In [7]:
x.hey = 1

In [8]:
x

Empty DataFrame
Columns: [hey]
Index: []